html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("assets/background-gradient-lights.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Center the background image */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Limit the maximum width */
    width: 90%; /* Make it responsive */
}

.login-box h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.login-box input {
    display: block;
    width: calc(100% - 20px); /* Adjust width to fit within padding */
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background-color: #0056b3;
}
